<html>

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/upperline-basic-sinatra-template/app/views/style.css">
        <link rel="shortcut icon" href="https://i.pinimg.com/originals/f8/d0/1c/f8d01c9292a5615c4496b8fcb5ec0db5.jpg" />
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <title>About Page/Credits</title>
    <head/>

    <body>
        <nav>
            <div class="nav-wrapper light-green accent-3">
                <a href="#" class="brand-logo">FrogHunters</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Frogs</a></li>
                    <li><a href="turtles.erb">Turtles</a></li>
                    <li><a href="https://www.patreon.com/froghunters">Donate</a></li>
                </ul>
            </div>
        </nav>
        <center>
            <h1>Credits</h1></center>
            <ul>
                <li>Front-End - *Peter Reyfman,Jack</li>
                 <li>Back-End - *Michael Reyfman,Peter Reyfman, Jack</li>
                 <li>Research -Jack </li>
                 <li>Patreon,Twitter,Facebook, and Instagram - Peter Reyfman</li>
                 <li>Credits and About Us - Jack</li>
                 <li> Colors - Jack</li>
                 <li>Frog Research - FrogWatch USA: Association of Zoos & Aquariums(© 1997 - 2018 AZA)</li>
                 <li>Designs - Materialize(© 2014-2018 Materialize)</li>
                 <li>© 2018 FrogHunters, All rights reserved.</li>
            </ul>
            <p5>* = Credit mainly goes to _____(If applicable).</p5><br>
        <!--<center><img src="http://longwallpapers.com/Desktop-Wallpaper/frog-wallpapers-hd-resolution-For-Desktop-Wallpaper.jpg" class="img1" height="500" width="600"></center>-->
    </body>

    <footer class="page-footer light-green accent-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Thanks for visiting FrogHunter</h5>
                    <p class="grey-text text-lighten-4">Special thanks to AZA and Materialize for making their data public. This would not be possible without them.</p>
                    <a href="https://materializecss.com/">Visit Materialize today!</a>
                    <a href="https://www.aza.org/frogwatch-usa-alabama">Join AZA Today.</a>
                    <li><a class="grey-text text-lighten-3" href="/bio">About us </a></li>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 FrogHunters
            </div>
        </div>
    </footer>

</html>