<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/upperline-basic-sinatra-template/app/views/style.css" 
    </head>
    <body>
        <h1>heyss</h1>
    </body>